body {
  background-color: #f1f1f1;
  color: #666666;
}

#job-section {
  padding: 20px;
}

#qualification-section {
  padding: 20px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

#avatar-container {
  position: relative;
  display: block;
}

#avatar-container img {
  width: 100%;
  height: auto;
  display: block;
}

#language_switcher_container {
  position: absolute;
  right: 0%;
  width: 12%;
}

#language_switcher {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 18%;
  background-color: rgba(240, 240, 240, 0.6);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#language_selected {
  background-color: rgba(240, 240, 240, 0.35);
  cursor: pointer;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#selected_flag {
  display: flex;
  align-items: center;
  width: 80%;
}

.select_hide {
  display: none;
}

#language_dropdown {
  position: absolute;
  background-color: rgba(240, 240, 240, 0.35);
  width: 100%;
}

.flag_dropdown {
  width: 80%;
  margin-left: 10%;
}

#name {
  position: absolute;
  font-weight: bold;
  color: #333333;
  top: 80%;
  left: 10%;
  font-size: 7vw;
}
@media (min-width: 768px) {
  #name {
    font-size: 2vw;
  }
}
@media (min-width: 1921px) {
  #name {
    font-size: 1.4vw;
  }
}

.section {
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 0px 0px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact {
  color: #666666;
  text-align: left;
  padding-left: 7%;
  font-size: 3vw;
}
@media (min-width: 768px) {
  #contact {
    font-size: 1.2vw;
  }
}
@media (min-width: 1921px) {
  #contact {
    font-size: 0.9vw;
  }
}

.info {
  padding-top: 1%;
  padding-bottom: 1%;
}

.icon {
  color: #549E92;
  margin-right: 16px;
}

#skills_container {
  text-align: left;
  padding: 14px;
  text-indent: 15px;
}

.skill {
  margin-bottom: 0;
}

#languages {
  text-align: left;
  padding: 14px;
  text-indent: 15px;
}

.progress-bar-background {
  background-color: #e5e5e5;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.progress-bar {
  background-color: #549E92;
  border-radius: 15px;
  color: white;
  text-align: center;
  text-indent: 0px;
}

.work-experience {
  text-align: left;
  margin-left: 20px;
  padding-bottom: 10px;
}

.qualification {
  text-align: left;
  margin-left: 20px;
  padding: 10px;
}

.qualification-description {
  padding-bottom: 3px;
  padding-top: 3px;
}

.date {
  color: #549E92;
}

#arcade_carousel_container {
  position: absolute;
  width: 65vw;
  height: 65vw;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: nowrap;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 768px) {
  #arcade_carousel_container {
    width: 50vw;
    height: 50vw;
  }
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel_inner {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  display: grid;
}

.slide img {
  position: absolute;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: 0;
}

#arcade_carousel_cross {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0%;
  top: 0;
  background-color: rgba(240, 240, 240, 0.4);
  cursor: pointer;
  z-index: 2;
}

#carousel_panel {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 37%;
  height: 16%;
  width: 100%;
  z-index: 2;
}

#carousel_panel button {
  background-color: rgba(240, 240, 240, 0.4);
  border: 0;
}

.carousel_dots {
  display: flex;
  position: absolute;
  z-index: 3;
  bottom: 0;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(250, 250, 250, 0.8) !important;
}

.dot.inactive {
  background-color: rgba(250, 250, 250, 0.5);
}

#cross {
  width: 100%;
  vertical-align: top;
}

footer {
  background-color: #549E92;
  margin-top: 10px;
  padding: 10px;
  color: black;
  font-size: 12px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/*# sourceMappingURL=styles.css.map */
